:root {
    --primary-color:#f7f7f7;
    --bg-dark: #0a0b10;
    --card-dark: #12141d;
    --accent-orange: #ff7b54;
    --accent-yellow: #ffb26b;
    --text-gray: #a0a0a0;
    --background-color: #000000;
    --accent-color: #ffffff;
    --purple-color: #530e94;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Poppins',sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
    line-height: 1,6;
    height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 50px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    padding: 6px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 18px;
    transition: background-color 0.03s, color 0.3s;
    text-transform: uppercase;
}

.nav-link :hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.full-screen-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    scroll-snap-align: start;
    position: relative;
}

.section-title {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.home-section {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.home-content {
    display: flex;
    align-items: center;
    gap: 80px;
    max-width: 1200px;
}

.profile-image-container {
    width: 400px;
    height: 400px;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid var(--accent-orange);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-decor {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle-decor .top-left {
    width: 100px;
    height: 100px;
    background-color: var(--accent-orange);
    top: -10px;
    left: -10px;
}

.circle-decor .bottom-right {
    width: 70px;
    height: 70px;
    background-color: var(--accent-yellow);
    bottom: 40px;
    right: -20px;
}

.text-content {
    flex: 1;
}

.badge-about {
    border: 1px solid var(--text-gray);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: var(--text-gray);
    display: inline-block;
    margin-bottom: 20px;
}

.intro-name {
    line-height: 1.2;
    font-size: 6em;
    font-weight: 800;
    margin-bottom: 20px;
}

.description {
    color: var(--text-gray);
    margin-bottom: 30px;
    line-height: 1.6;
}

.info-grid {
    background-color: var(--card-dark);
    display: grid;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.info-item .label {
    color: var(--accent-orange);
    font-size: 14px;
    margin-bottom: 5px;
}

.info-item .value {
    font-weight: 500;
}

.btn-contact {
    background-color: var(--accent-orange);
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s;
}

.btn-contact :hover {
    transform: translateY(-5px);
}

.about-section {
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.about-me { 
    color: white; 
    font-size: 1.2rem; 
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.skill-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
}

.skill-list li {
    background: #11121d;
    padding: 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0, 05);
}

.skill-list li:hover {
    transform: translateY(-10px);

}

.skill-list li i {
    font-size: 3rem;
    margin-bottom: 15px;
    transition: 0.3s;
}

.skill-info {
    margin-bottom: 15px;
}

.skill-name {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
}

.skill-desc {
    display: block;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.bar-container {
    width: 100%;
    background: #222;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
    border-radius: 10px;
}

.fa-python {
    color: #3376ab !important;
}

.fa-html5 {
    color: #F54927 !important;
}

.fa-js {
    color: #F7DF1E;
}

.fa-css3-alt {
    color: #1572B6;
}

.fa-youtube {
    color: #FF0000;
}