:root {
    --primary-color:#f7f7f7;
    --bg-dark: #0a0b10;
    --card-dark: #12141d;
    --accent-orange: #ff7b54;
    --accent-yellow: #ffb26b;
    --purple: #7e5bff;
    --background-color: #000000;
    --accent-color: #ffffff;
    --purple-color: #530e94;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Poppins',sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
    line-height: 1,6;
    height: 100vh;
    overflow: hidden;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.full-screen-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    scroll-snap-align: start;
    position: relative;
}

.section-title {
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.home-section {
    background-color: var(--bg-dark);
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    align-items: center !important;
    justify-content: flex-start !important;
    text-align: left !important;
    padding-left: 10%;
    min-height: 100vh;
    padding: 40px 100px;
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.home-content {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    text-align: left !important;
    gap: 50px;
    width: 100% !important;
    text-align: left;
}

.home-section .intro-name,
.home-section .description,
.home-section .badge-about,
.home-section .info-grid {
    margin-left: 0 !important;
    text-align: left !important;
    display: block !important;
}

.profile-image-container {
    width: 400px;
    height: 400px;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid var(--purple-color);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-decor {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle-decor .top-left {
    width: 100px;
    height: 100px;
    background-color: var(--accent-orange);
    top: -10px;
    left: -10px;
}

.circle-decor .bottom-right {
    width: 70px;
    height: 70px;
    background-color: var(--accent-yellow);
    bottom: 40px;
    right: -20px;
}

.badge-about {
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 15px;
    color: var(--accent-color);
    display: inline-block !important;
    margin-bottom: 20px;
    background-color: var(--purple-color);
    margin-left: 0 !important;
    align-self: flex-start;
    width: fit-content !important;
    text-align: left !important;
}

.intro-name {
    line-height: 1.2;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 9px;
}

.description {
    color: var(--text-gray);
    margin-bottom: 40px;
    line-height: 1.6;
}

.info-grid {
    background-color: var(--card-dark);
    display: grid;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    justify-items: start !important;
}

.info-item .label {
    color: var(--purple);
    font-size: 14px;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-start;
}

.info-item .value {
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.cation-button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.btn-contact {
    background-color: var(--purple-color);
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block !important;
    transition: transform 0.3s;
    align-items: center;
    gap: 10px;
    margin-top: 1px;
    margin-left: 0 !important;
}

.btn-contact:hover {
    transform: translateY(-5px);
}

.about-section {
    color: white;
    padding: 60px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section .section-title {
    text-align: center;
    margin-left: 0;
    width: 100%;
}

.about-me { 
    color: white; 
    font-size: 2rem; 
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    margin-left: 0;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.skill-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
}

.skill-list li {
    background: #11121d;
    padding: 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    border: 1px solid rgba(255, 255, 255, 0, 05);
}

.skill-list li:hover {
    transform: translateY(-10px);

}

.skill-list li i {
    font-size: 3rem;
    margin-bottom: 15px;
    transition: 0.3s;
}

.skill-info {
    margin-bottom: 15px;
}

.skill-name {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
}

.skill-desc {
    display: block;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.bar-container {
    width: 100%;
    background: #222;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
    border-radius: 10px;
}

.fa-python {
    color: #3376ab !important;
}

.fa-html5 {
    color: #F54927 !important;
}

.fa-js {
    color: #F7DF1E;
}

.fa-css3-alt {
    color: #1572B6;
}

.hobby-section .section-title {
    font-size: 4em;
    margin-bottom: 80px;
}

.hobby-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:40px;
    max-width: 1200px;
    width: 100%;
}

.hobby-item {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 20px;
    text-align: left !important;
    transition: all 0.4s ease;
    cursor: pointer;
}

.hobby-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid var(--purple-color);
    flex-shrink: 0;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.4s ease;
}

.hobby-item:hover .hobby-image {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 10px 25px rgba(83, 14, 148, 0.5);
}

.hobby-text {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    transition: 0.3s;
}

.hobby-text strong {
    font-weight: 800;
    color: var(--purple-color);
    display: block;
}

.hobby-item:hover .hobby-text {
    color: var(--accent-orange);
    transition: 0.3s;
}

.service-section {
    background: radial-gradient(circle at center, #000000 0%, #1a052e 100%);
    color: #ffffff;
    padding: 80px 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-section .section-title {
    text-align: center;
    margin-left: 0;
}

.section-title {
    font-size: 5rem;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 50px;
    text-shadow: 0 0 20px rgba(126, 91, 255, 0.5);
    color: #ffffff;
}

.services-container-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
    padding: 0 20px;
}

.services-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
}

.service-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(168, 85, 247, 0.2);
    padding: 25px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service-card:hover {
    background: rgba(168, 85, 247, 0.1);
    transform: translateY(-10px);
    border-color: rgba(168, 85, 247, 0.6);
    box-shadow: 0 0 25px rgba(126, 91, 255, 0.4), inset 0 0 10px rgba(168, 85, 247, 0.6);
}

.service-icon {
    font-size: 2rem;
    color: var(--purple);
    background: rgba(168, 85, 247, 0.1);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-shrink: 0;
}

.service-info h3 {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 700;
}

.service-info p {
    font-size: 0.8rem;
    color: #a0a0a0;
    line-height: 1.4;
}

.hire-stats-card {
    background: rgba(18, 20, 29, 0.4);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 30px;
    width: 380px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid var(--purple);
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.chart-box {
    margin-bottom: 30px;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    height: 100px;
}

.bar-item {
    position: relative;
    overflow: hidden;
    width: 15px;
    background: linear-gradient(to top, var(--purple));
    border-radius: 5px;
    animation: barGrow 2s ease-in-out;
}

.bar-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255), transparent);
    animation: shine-bar 4s infinite;
}

@keyframes shine-bar {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%);}
}

@keyframes barGrow {
    from { height: 0;}
}

.hire-content h4 {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 12px;
}

.hire-content p {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.hire-me-button {
    background: var(--purple-color);
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hire-me-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--purple);
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(126, 91, 255, 0.1) 1px, transparent 1px) linear-gradient(90deg, rgba(126, 91, 255, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    z-index: 0;
}

.contact-section {
    padding: 80px 10%;
    background: radial-gradient( circle at bottom, #000000 0%, #1a052e 100%) !important;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 80px 100px;
    display: flex;
    justify-content: center;
}

.shape {
    position: absolute;
    border: 2px solid rgba(83, 14, 148, 0.3);
    border-radius: 15px;
    z-index: 0;
}

.shape-1 { 
    width: 100px;
    height: 100px;
    top: 10%;
    left: 5%;
    transform: rotate(15deg);
}

.shape-2 { 
    width: 150px;
    height: 100px;
    bottom: 10%;
    right: 5%;
    transform: rotate(-20deg);
}

.shape-3 { 
    width: 80px;
    height: 80px;
    top: 40%;
    right: 15%;
    border-color: rgba(255, 123, 84, 0.2);
}

.shape-4 {
    width: 300px; 
    height: 200px; 
    bottom: 25%; 
    transform: rotate(20deg);
    border-color: #4c2cc0 blur; 
}

.shape-5 {
    width: 80px;
    height: 80px;
    bottom: 10%;
    left: 30%;
    transform: rotate(-30deg);
    border-color:  rgba(255, 123, 84, 0.2);
}

.shape-6 {
    width: 150px;
    height: 150px;
    right: 1%;
    top: 5%;
    transform: rotate(-30deg);

}

.contact-container {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    text-align: left;
}

.thanks-title {
    font-size: clamp(3rem, 7vw, 5.5rem) !important;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 10px !important;
    text-shadow: 0 0 20px rgba(126, 91, 255, 0.5);
    color: #fff;
}

.sub-thanks {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 5px;
    color: var(--accent-orange);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.scanner-line {
    width: 5px;
    height: 80px;
    background: var(--accent-orange);
    position: absolute;
    right: -20px;
    box-shadow: 0 0 15px var(--accent-orange);
    animation: scanVertical 2s infinite ease-in-out;
}

@keyframes scanVertical {
    0%, 100% { transform: translateY(0); opacity: 0.2; }
    50% { transform: translateY(40px); opacity: 1; }
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: fit-content;
    min-width: 300px;
}

.link-label {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 2px;
}

.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--purple);
    background: rgba(126, 91, 255, 0.1);
    transition: 0.3s;
    flex-shrink: 0;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text-group small {
    font-size: 0.65rem;
    color: var(--accent-orange);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;
    font-weight: 600;
}

.text-group span {
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.contact-item:hover {
    background-color: rgba(126, 91, 255, 0.15);
    border-color: var(--purple);
    transform: translateX(15px) scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.contact-item:hover .icon-circle {
    background: var(--purple);
    border-color: var(--purple-color);
    box-shadow: 0 0 20px var(--purple-color);
    transform: translateX(10px);
    color: white;
    transform: rotate(12deg);
}

.status-dot {
    font-size: 0.6rem !important;
    color: #00ff88;
    animation: blink 1.5s infinite;
    width: 8px;
    height: 8px;
    background: #00ff88;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff88;
    display: inline-block;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

.contact-item:hover span {
    color: var(--accent-orange);
}

.contact-info {
    text-align: right;
    position: relative;
    margin-top: 20px;
}

.info-line {
    width: 80px;
    height: 4px;
    background: var(--accent-orange);
    margin-left: auto;
    margin-bottom: 15px;
    position: absolute;
    box-shadow: 0 0 15px var(--accent-orange);
    animation: infoHorizontal 2s infinite ease-in-out;
    right: -0.2px;
}


.footer-name {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.footer-role {
    font-size: 0.9rem;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.footer-role i {
    font-size: 0.7rem;
}